/*! uswds @version */
.html-preview {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
.html-preview {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
.body-preview {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
.footer-preview,
.header-preview,
.body-preview main,
.body-preview nav,
.body-preview section {
  display: block; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
.body-preview a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
.body-preview a:active,
.body-preview a:hover {
  outline: 0; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
.body-preview img {
  border: 0; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
.body-preview .button {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
.body-preview .button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
.body-preview .button {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
.body-preview .button {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Remove inner padding and border in Firefox 4+.
 */
.body-preview button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/* stylelint-disable at-rule-empty-line-before */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-italic-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-italic-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-bold-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/merriweather-light-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather-light-webfont.woff") format("woff"), url("../assets/fonts/merriweather-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather-regular-webfont.woff") format("woff"), url("../assets/fonts/merriweather-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/merriweather-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/merriweather-italic-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather-italic-webfont.woff") format("woff"), url("../assets/fonts/merriweather-italic-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather-bold-webfont.woff") format("woff"), url("../assets/fonts/merriweather-bold-webfont.ttf") format("truetype"); }
/* stylelint-enable */
.html-preview {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.body-preview {
  background-color: #ffffff;
  overflow-x: hidden; }

.usa-grid,
.usa-grid-full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px; }
  .usa-grid::after,
  .usa-grid-full::after {
    clear: both;
    content: "";
    display: block; }

.usa-grid {
  padding-right: 1rem;
  padding-left: 1rem; }
  @media screen and (min-width: 600px) {
    .usa-grid {
      padding-right: 2rem;
      padding-left: 2rem; } }

.usa-grid-full {
  padding: 0; }

@media screen and (min-width: 600px) {

  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .usa-width-one-half:last-child {
      margin-right: 0; }

  .usa-width-one-third {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }

  .usa-width-two-thirds {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%; }
    .usa-width-two-thirds:last-child {
      margin-right: 0; }

  .usa-width-one-fourth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .usa-width-one-fourth:last-child {
      margin-right: 0; }
    .usa-width-one-fourth:nth-child(2n) {
      margin-right: 0; } }
@media screen and (min-width: 1201px) {

  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .usa-width-one-half:last-child {
      margin-right: 0; }

  .usa-width-one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }

  .usa-width-two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .usa-width-two-thirds:last-child {
      margin-right: 0; }

  .usa-width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .usa-width-one-fourth:last-child {
      margin-right: 0; }
    .usa-width-one-fourth:nth-child(2n) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .usa-width-one-fourth:nth-child(2n):last-child {
        margin-right: 0; } }

/* stylelint-disable selector-no-qualifying-type */
.usa-button,
.usa-button:visited,
.body-preview .button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 0.3rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%; }
  @media screen and (min-width: 481px) {
    .usa-button,
    .usa-button:visited,
    .body-preview .button {
      width: auto; } }
  .usa-button:hover, .usa-button:visited:hover, button:hover {
    background-color: #205493;
    border-bottom: 0;
    color: #ffffff;
    text-decoration: none; }
  .usa-button:focus, .usa-button:visited:focus, button:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .usa-button:active, .usa-button:visited:active, button:active {
    background-color: #112e51; }
  .usa-button.usa-button-secondary,
  .usa-button:visited.usa-button-secondary {
    background-color: #e31c3d; }
    .usa-button.usa-button-secondary:hover, .usa-button:visited.usa-button-secondary:hover {
      background-color: #cd2026; }
    .usa-button.usa-button-secondary:active, .usa-button:visited.usa-button-secondary:active {
      background-color: #981b1e; }
  .usa-button.usa-button-big,
  .usa-button:visited.usa-button-big {
    font-size: 1.9rem;
    padding: 1rem 2rem; }

/* stylelint-disable */
.usa-button:disabled {
  background-color: #d6d7d9;
  color: #323a45;
  pointer-events: none; }
  .usa-button:disabled:hover, .usa-button:disabled:active, .usa-button:disabled:focus {
    background-color: #d6d7d9;
    border: 0;
    box-shadow: none;
    color: #323a45; }

.body-preview img {
  max-width: 100%; }

/* stylelint-disable selector-no-qualifying-type */

/* stylelint-enable */

.body-preview ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.5em; }

.body-preview li {
  line-height: 1.5;
  margin-bottom: 0.5em; }
  li:last-child {
    margin-bottom: 0; }

.usa-unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0; }
  .usa-unstyled-list > li {
    margin-bottom: 0; }

.html-preview {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 10px; }

.body-preview {
  font-size: 1rem; }

.body-preview p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em; }

.body-preview a {
  color: #0071bc;
  text-decoration: underline; }
  .body-preview a:hover, a:active {
    color: #205493; }
  .body-preview a:visited {
    color: #0071bc; }
  .body-preview a:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
    outline: 0; }

.body-preview h2,
.body-preview h3 {
  clear: both;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  line-height: 1.1;
  margin-bottom: .5em;
  margin-top: .5em; }

.body-preview h2 {
  font-size: 1.4rem;
  font-weight: 700; }

.body-preview h3 {
  font-size: 1.2rem;
  font-weight: 700; }

.body-preview address {
  font-style: normal; }

.usa-section > :first-child,
.usa-grid > :first-child,
.usa-grid-full > :first-child {
  margin-top: 0; }
.usa-section > :last-child,
.usa-grid > :last-child,
.usa-grid-full > :last-child {
  margin-bottom: 0; }

.usa-width-one-half:first-child > :first-child,
.usa-width-one-third:first-child > :first-child,
.usa-width-one-fourth:first-child > :first-child {
  margin-top: 0; }
@media screen and (min-width: 600px) {
  .usa-width-one-half > :first-child,
  .usa-width-one-third > :first-child,
  .usa-width-two-thirds > :first-child,
  .usa-width-one-fourth > :first-child {
    margin-top: 0; } }
.usa-width-one-half:last-child > :last-child,
.usa-width-two-thirds:last-child > :last-child,
.usa-width-one-fourth:last-child > :last-child {
  margin-bottom: 0; }
@media screen and (min-width: 600px) {
  .usa-width-one-half > :last-child,
  .usa-width-one-third > :last-child,
  .usa-width-two-thirds > :last-child,
  .usa-width-one-fourth > :last-child {
    margin-bottom: 0; } }

.usa-accordion {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  color: #212121;
  margin: 0;
  padding: 0;
  width: 100%; }
  .usa-accordion > li {
    margin-bottom: 0; }
  .usa-accordion > li {
    background-color: #f1f1f1;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    list-style: none;
    margin-bottom: 6px;
    width: 100%; }

.usa-accordion-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
/*   background-color: #f1f1f1; */
  background-image: url("../assets/img/minus.png");
  background-image: url("../assets/img/minus.svg");
  background-position: right 3rem center;
  background-repeat: no-repeat;
  background-size: 13px;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: .5rem 2rem 0.5rem 1rem;
  width: 100%; }
  .usa-accordion-button:hover {
    background-color: transparent; }
  .usa-accordion-button:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .usa-accordion-button:hover {
    background-color: #d6d7d9;
    color: #212121; }

/*.usa-accordion-button[aria-expanded=false] {
  background-image: url("../assets/img/plus.png");
  background-image: url("../assets/img/plus.svg");
  background-repeat: no-repeat;
  background-size: .7rem;
  background-position-x: 6.8em;
}*/
.usa-accordion-button[aria-expanded=false] {
  background-image: url("../assets/img/angle-arrow-down.png");
  background-image: url("../assets/img/angle-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: .6rem;
  background-position: right 0.4rem bottom 10%;
}

.usa-footer .usa-unstyled-list {
  display: block; }
.usa-footer .usa-footer-primary-link {
  color: #212121;
  display: block;
  font-weight: 700;
  margin-top: 0;
  padding-bottom: 1rem;
  padding-top: 0rem;
  text-decoration: none; }
  @media screen and (min-width: 600px) {
    .usa-footer .usa-footer-primary-link {
      border-top: none; } }
  .usa-footer .usa-footer-primary-link:hover {
    text-decoration: underline; }
.usa-footer a {
  font-weight: normal; }

.usa-footer-primary-section {
  background-color: #f1f1f1; }
  .usa-footer-primary-section .usa-footer-primary-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
    @media screen and (min-width: 600px) {
      .usa-footer-primary-section .usa-footer-primary-content {
        padding-left: 0;
        padding-right: 0; } }
  @media screen and (min-width: 600px) {
    .usa-footer-primary-section .usa-grid-full {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.usa-footer-medium .usa-footer-primary-section {
  padding: 0; }
  @media screen and (min-width: 600px) {
    .usa-footer-medium .usa-footer-primary-section {
      padding-bottom: 1rem;
      padding-top: 1rem; } }
  @media screen and (min-width: 1201px) {
    .usa-footer-medium .usa-footer-primary-section .usa-footer-primary-content {
      margin-right: 6%;
      width: inherit; } }
  @media screen and (min-width: 1201px) {
    .usa-footer-medium .usa-footer-primary-section .usa-footer-primary-content:last-child {
      margin-right: 0; } }
@media screen and (min-width: 600px) {
  .usa-footer-medium .usa-footer-nav ul {
    align-items: center; } }

/* stylelint-disable selector-no-qualifying-type */
li.usa-footer-primary-content,
li.usa-footer-primary-content {
  border-top: 1px solid #212121; }
  @media screen and (min-width: 600px) {
    li.usa-footer-primary-content,
    li.usa-footer-primary-content {
      border: none; } }
  li.usa-footer-primary-content:last-child,
  li.usa-footer-primary-content:last-child {
    border-bottom: 1px solid #212121; }
    @media screen and (min-width: 600px) {
      li.usa-footer-primary-content:last-child,
      li.usa-footer-primary-content:last-child {
        border-bottom: none; } }

/* stylelint-enable */

.usa-footer-secondary_section {
  background-color: #d6d7d9;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  .usa-footer-secondary_section a {
    color: #212121; }

@media screen and (min-width: 600px) {
  .usa-footer-contact-links {
    text-align: right; } }

.usa-footer-logo-heading {
  margin-top: 2rem; }

.usa-footer-contact-heading {
  margin-top: 0; }
  @media screen and (min-width: 600px) {
    .usa-footer-contact-heading {
      margin-top: 1rem; } }

.usa-link-facebook, .usa-link-twitter, .usa-link-youtube, .usa-link-rss {
  margin: 2.5rem 1rem 1.5rem 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 1.8rem;
  display: inline-block;
  height: 3rem;
  left: -1.6rem;
  position: relative;
  text-align: center;
  width: 3rem; }
  @media screen and (min-width: 600px) {
    .usa-link-facebook, .usa-link-twitter, .usa-link-youtube, .usa-link-rss {
      margin: 0 0 0 0rem;
      left: 1.2rem; } }
  .usa-link-facebook span, .usa-link-twitter span, .usa-link-youtube span, .usa-link-rss span {
    position: absolute;
    left: -999em; }

.usa-link-facebook {
  background-image: url("../assets/img/social-icons/png/facebook25.png");
  background-image: url("../assets/img/social-icons/svg/facebook25.svg"); }

.usa-link-twitter {
  background-image: url("../assets/img/social-icons/png/twitter16.png");
  background-image: url("../assets/img/social-icons/svg/twitter16.svg"); }

.usa-link-youtube {
  background-image: url("../assets/img/social-icons/png/youtube15.png");
  background-image: url("../assets/img/social-icons/svg/youtube15.svg"); }

.usa-link-rss {
  background-image: url("../assets/img/social-icons/png/rss25.png");
  background-image: url("../assets/img/social-icons/svg/rss25.svg"); }

.usa-graphic_list .usa-graphic_list-row .usa-media_block {
  margin-bottom: 3rem; }
  @media screen and (min-width: 600px) {
    .usa-graphic_list .usa-graphic_list-row .usa-media_block {
      margin-bottom: 6rem; } }
@media screen and (min-width: 600px) {
  .usa-graphic_list .usa-graphic_list-row:last-child .usa-media_block {
    margin-bottom: 0; } }
.usa-graphic_list .usa-graphic_list-row:last-child .usa-media_block:last-child {
  margin-bottom: 0; }
.usa-graphic_list .usa-media_block-img {
  margin-right: 3rem; }
.usa-graphic_list .usa-media_block-body > :first-child {
  margin-top: 0; }

.usa-header {
  width: 100%;
  z-index: 7000; }
  @media screen and (min-width: 951px) {
    .usa-header {
      border-bottom: 1px solid #aeb0b5; } }
  .usa-header a {
    border-bottom: none; }

.usa-logo {
  float: left;
  line-height: 4rem;
  margin-left: 1.5rem; }
  @media screen and (min-width: 951px) {
    .usa-logo {
      line-height: 7.5rem;
      margin-left: 0; } }
  .usa-logo a {
    color: #212121;
    text-decoration: none; }

.usa-logo-text {
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  margin: 0; }
  @media screen and (min-width: 951px) {
    .usa-logo-text {
      display: block;
      font-size: 1.4rem;
      line-height: 1.3; } }
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-logo {
    margin-top: 2rem;
    margin-bottom: 2rem; } }
@media screen and (min-width: 951px) {
  .usa-header-extended em {
    font-size: 2rem;
    line-height: 1; } }
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-navbar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    display: block;
    height: auto;
    max-width: 1040px; }
    .usa-header-extended .usa-navbar::after {
      clear: both;
      content: "";
      display: block; } }
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-nav {
    border-top: 1px solid #aeb0b5;
    float: none;
    padding: 0;
    width: 100%; } }
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-nav-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3rem;
    padding-left: 2rem;
    margin-top: -1px;
    max-width: 1040px;
    position: relative; }
    .usa-header-extended .usa-nav-inner::after {
      clear: both;
      content: "";
      display: block; } }
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-nav-primary::after {
    clear: both;
    content: "";
    display: block; } }
.usa-header-extended .usa-nav-primary button[aria-expanded=false] {
  /* stylelint-disable-line selector-no-qualifying-type */ }
  @media screen and (min-width: 951px) {
    .usa-header-extended .usa-nav-primary button[aria-expanded=false] {
      /* stylelint-disable-line selector-no-qualifying-type */
      background-position: right 1.5rem top 50%; } }
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-nav-link {
    padding-top: .5rem; } }

.usa-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../assets/img/hero.png");
  background-position: center;
  background-size: cover; }
  .usa-hero .usa-button {
    color: #ffffff; }

.usa-section-dark .usa-hero-link {
  color: #02bfe7; }

.usa-hero-callout {
  background-color: #112e51;
  padding: 2rem; }
  @media screen and (min-width: 481px) {
    .usa-hero-callout {
      max-width: 19rem; } }
  .usa-hero-callout > *:first-child {
    margin-top: 0;
    margin-bottom: 1rem; }
  .usa-hero-callout .usa-button {
    font-size: 1rem;
    margin-top: 5rem;
    width: 100%; }

.usa-hero-callout-alt {
  color: #ffffff;
  display: block; }
  .usa-layout-docs .usa-grid > :first-child:not(.usa-width-*) {
    margin-top: 0; }
  .usa-layout-docs .usa-grid > :last-child:not(.usa-width-*) {
    margin-bottom: 0; }

.usa-media_block-img {
  float: left;
  margin-right: 1rem; }

.usa-media_block-body {
  overflow: hidden; }

.usa-navbar {
  border-bottom: 1px solid #aeb0b5;
  height: 4rem; }
  @media screen and (min-width: 951px) {
    .usa-navbar {
      border-bottom: none;
      display: inline-block;
      height: 10.3rem; } }

.usa-nav-link {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 951px) {
    .usa-nav-link:hover span {
      border-bottom: 0.2rem solid #0071bc;
      padding-bottom: .5rem; } }

.usa-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  -webkit-transform: translateX(26rem);
  -moz-transform: translateX(26rem);
  -ms-transform: translateX(26rem);
  -o-transform: translateX(26rem);
  transform: translateX(26rem);
  background: #ffffff;
  border-left: 1px solid #aeb0b5;
  border-right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2rem;
  width: 26rem; }
  @media screen and (min-width: 951px) {
    .usa-nav {
      padding-top: 5rem;
      padding-right: 0;
      padding-bottom: 0;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      border-left: none;
      display: block;
      float: right;
      overflow-y: visible;
      position: relative;
      width: auto; } }

.usa-nav-primary {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  order: 2; }
  .usa-nav-primary > li {
    margin-bottom: 0; }
  .usa-nav-primary > li {
    background-color: transparent;
    border-top: 1px solid #5b616b;
    font-size: 1.1rem; }
    .usa-nav-primary > li:first-child {
      border-top: none; }
  .usa-nav-primary a {
    border: none;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.3;
    padding: 0.85rem 1rem 0.85rem 1.8rem;
    text-decoration: none; }
    .usa-nav-primary a:hover {
      background-color: #f1f1f1;
      color: #0071bc;
      text-decoration: none; }
    .usa-nav-primary a:focus {
      position: relative;
      z-index: 1; }
  @media screen and (min-width: 951px) {
    .usa-nav-primary {
      display: inline; } }
  @media screen and (min-width: 951px) {
    .usa-nav-primary li {
      border-top: none; } }
  .usa-nav-primary > li {
    width: auto; }
    @media screen and (min-width: 951px) {
      .usa-nav-primary > li {
        display: inline-block;
        margin-left: -4px; } }
    @media screen and (min-width: 951px) {
      .usa-nav-primary > li > a {
        padding: 0rem .5rem .6rem;
        color: #5b616b;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2; } }
    @media screen and (min-width: 951px) {
      .usa-nav-primary > li > a:hover {
        background-color: transparent; } }
  .usa-nav-primary .button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    padding: 0.4rem 1.5rem 1rem 1.8rem; }
    .usa-nav-primary button:hover {
      background-color: transparent; }
    @media screen and (min-width: 951px) {
      .usa-nav-primary .button {
        padding-right: 1.4rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #5b616b;
        font-size: 1rem;
        font-weight: 700;
        width: initial; } }
    .usa-nav-primary button:focus, .usa-nav-primary button:active {
      box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
    .usa-nav-primary button:hover {
      background-color: #f1f1f1;
      color: #0071bc; }
      @media screen and (min-width: 951px) {
        .usa-nav-primary button:hover {
          background-color: transparent; } }
    .usa-nav-primary button[aria-expanded=false] {
      /* stylelint-disable-line selector-no-qualifying-type */
      background-image: url("../assets/img/plus-alt.png");
      background-image: url("../assets/img/plus-alt.svg");
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem; }
      @media screen and (min-width: 951px) {
        .usa-nav-primary button[aria-expanded=false] {
          background-image: url("../assets/img/angle-arrow-down.png");
          background-image: url("../assets/img/angle-arrow-down.svg");
          background-position: right 1.5rem top 44%; } }

@media screen and (min-width: 951px) {
  .usa-nav-secondary {
    position: absolute;
    right: 3rem;
    top: -4.7rem; } }

@media screen and (min-width: 951px) {
  .usa-nav-secondary-links {
    float: left; } }
@media screen and (min-width: 951px) {
  .usa-nav-secondary-links li {
    display: inline;
    padding-left: 1rem; } }
@media screen and (min-width: 951px) {
  .usa-nav-secondary-links li:not(:last-child)::after {
    content: '|';
    padding-left: 1rem; } }
.usa-nav-secondary-links a,
.usa-nav-secondary-links .usa-header-search-button {
  color: #5b616b;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none; }
  .usa-nav-secondary-links a:hover,
  .usa-nav-secondary-links .usa-header-search-button:hover {
    color: #0071bc; }
.usa-nav-secondary-links .usa-header-search-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  display: none; }
  .usa-nav-secondary-links .usa-header-search-button:hover {
    background-color: transparent; }
  @media screen and (min-width: 951px) {
    .usa-nav-secondary-links .usa-header-search-button {
      background-image: url("../assets/img/search-alt.png");
      background-image: url("../assets/img/search-alt.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.7rem;
      display: inline-block;
      padding-left: 2.3rem; } }

.usa-section {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media screen and (min-width: 600px) {
    .usa-section {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.usa-section-dark {
  background-color: #112e51;
  color: #ffffff; }
  .usa-section-dark h2,
  .usa-section-dark h3 {
    color: #02bfe7; }
  .usa-section-dark p {
    color: #ffffff; }
  .usa-section-dark a {
    color: #d6d7d9; }
    .usa-section-dark a:hover {
      color: #ffffff; }

.html-preview,
.body-preview {
  height: auto;
  min-width: 952px;}

.usa-hero {
  background-image: url("../color/assets/img/fireworks.jpg"); }

.usa-hero-callout .usa-button {
  margin-top: 1em; }
@-moz-document url-prefix() { }

.layout-demo {
  margin-bottom: 8.6rem; }
  @media screen and (min-width: 600px) {
    .layout-demo {
      margin-bottom: 5.9rem; } }
