<div class="color-preview">
  <div class="html-preview">
    <div class="body-preview layout-demo">
    <div class="header-preview usa-header usa-header-extended" role="banner">
      <div class="usa-navbar">
        <div class="usa-logo" id="logo">
          <em class="usa-logo-text">
            <a href="#" title="Home" aria-label="Home">Federal Agency Name</a>
          </em>
        </div>
      </div>
      <nav role="navigation" class="usa-nav">
        <div class="usa-nav-inner">
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <span class="button usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
                <span>Section title</span>
              </span>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Distinct from each other</span>
              </a>
            </li>
          </ul>
          <div class="usa-nav-secondary">
            <ul class="usa-unstyled-list usa-nav-secondary-links">
              <li class="js-search-button-container">
                <span class="usa-header-search-button js-search-button">Search</span>
              </li>
              <li>
                <a href="#">Secondary priority link</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <main id="main-content">
      <section class="usa-hero">
        <div class="usa-grid">
          <div class="usa-hero-callout usa-section-dark">
            <h2><span class="usa-hero-callout-alt">Hero callout:</span> Call attention to a current priority</h2>
            <a class="usa-hero-link" href="#">Link to more about that priority</a>
            <a class="usa-button usa-button-big usa-button-secondary" href="#">Learn about what we do</a>
          </div>
        </div>
      </section>
      <section class="usa-grid usa-section">
        <div class="usa-width-one-third">
          <h2>A tagline highlights your approach.</h2>
        </div>
        <div class="usa-width-two-thirds">
          <p>The tagline should inspire confidence and interest, focusing on the value that your overall approach offers to your audience. Use a heading typeface and keep your tagline to just a few words, and don’t confuse or mystify.</p>
          <p>Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.</p>
        </div>
      </section>
      <section class="usa-section usa-section-dark usa-graphic_list">
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-half usa-media_block">
            <img class="usa-media_block-img"  src="../../../themes/uswds/assets/img/circle-124.png" alt="Alt text">
            <div class="usa-media_block-body">
              <h3>Graphic headings can vary.</h3>
              <p>Graphic headings can be used a few different ways, depending on what your landing page is for. Highlight your values, specific program areas, or results.</p>
            </div>
          </div>
          <div class="usa-width-one-half usa-media_block">
            <img class="usa-media_block-img"  src="../../../themes/uswds/assets/img/circle-124.png" alt="Alt text">
            <div class="usa-media_block-body">
              <h3>Stick to 6 or fewer words.</h3>
              <p>Keep body text to about 30. They can be shorter, but try to be somewhat balanced across all four. It creates a clean appearance with good spacing.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="footer-preview usa-footer usa-footer-medium" role="contentinfo">
      <div class="usa-footer-primary-section">
        <div class="usa-grid-full">
          <nav class="usa-footer-nav">
            <ul class="usa-unstyled-list">
              <li class="usa-width-one-fourth usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="#">Primary link</a>
              </li>
              <li class="usa-width-one-fourth usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="#">Permanently relevant</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="usa-footer-secondary_section">
        <div class="usa-grid">
          <div class="usa-footer-logo usa-width-one-half">
            <img class="usa-footer-circle-124" src="../../../themes/uswds/assets/img/logo-img.png" alt="Logo image">
            <h3 class="usa-footer-logo-heading">Name of Agency</h3>
          </div>
          <div class="usa-footer-contact-links usa-width-one-half">
            <a class="usa-link-facebook" href="#">
              <span>Facebook</span>
            </a>
            <a class="usa-link-twitter" href="#">
              <span>Twitter</span>
            </a>
            <a class="usa-link-youtube" href="#">
              <span>YouTube</span>
            </a>
            <a class="usa-link-rss" href="#">
              <span>RSS</span>
            </a>
            <address>
              <h3 class="usa-footer-contact-heading">Agency Contact Center</h3>
              <p>(800) CALL-GOVT</p>
              <a href="mailto:info@agency.gov">info@agency.gov</a>
            </address>
          </div>
        </div>
      </div>
    </div>
    <!-- Update the link path to where your JavaScript file is located. For example: /path/to/your/assets/js/lib/uswds.min.js -->
<!--     <script src="assets/js/vendor/uswds.min.js"></script> -->
    </div>
  </div>
</div>
