/* Navigation Bar Background Color */
.usa-header {
    background-color: #fefefd;
}

/* Logo text link color */
.usa-logo .usa-logo-text a {
    color: #212121;
}

/* Navigation Links - Main Menu color */
.usa-nav-primary button, .usa-nav-primary > li > a {
    color: #5b616b;
}

/* Secondary Links and Search form label color */
.usa-nav-secondary-links a, .usa-nav-secondary-links .usa-header-search-button {
    color: #5b616b;
}

/* Search Button Background */
#search-block-form [type="submit"] {
    background-color: #0071bc;
}

/* Navigation Main Menu Background Color */
.usa-nav {
    background-color: #fefefe;
}

/* Tagline Heading */
.usa-section .usa-width-one-third h2 {
    color: #000;
}

/* Tagline Body */
.usa-section .usa-width-two-thirds p {
    color: #292929;
}
/* Graphic List */
.usa-graphic_list p {
    color: #ffffff;
}
.usa-graphic_list{
    background-color: #112e51;
}
/* Usa Section dark headings */
.usa-graphic_list h2, .usa-graphic_list h3 {
    color: #02bfe7;
}
/* Usa Footer Primary Background */
.usa-footer-primary-section {
    background-color: #f1f1f1;
}
/* Usa Footer Primary Links */
.usa-footer .usa-footer-primary-link {
  color: #212120;
}
/* Usa Footer Secondary Background */
.usa-footer-secondary_section {
    background-color: #d6d7d9;
}
/* wide viewport. */
@media screen and (min-width: 37.5625em) { /* 601px */
  .color-placeholder {
    float: none !important;
    width: 30% !important;
  }




