/**
 * CSS in this file should be limited to:
 * - fixing incompatibilities between USWDS and Drpual
 * - adding minimal styling of Drupal elements that are missed by USWDS
 *
 * @TODO: Keep an eye on this file, and if it gets out of control, switch to
 * Sass development.
 */

/* The navigation z-index of 9000 causes issues (like with admin_menu). */
.usa-nav {
  z-index: 500;
}

/* Some basic styling of horizontal button situations, like local tasks. */
.uswds-horizontal-list li {
  display: inline-block;
}

/* A little help for breadcrumbs. */
.usa-breadcrumbs li:not(:last-child):after {
  content: '»';
}
.usa-breadcrumbs li, .usa-breadcrumbs li a {
  margin-right: 0.4em;
}

/* Some help for titles */
.uswds-page-title,
.uswds-block > h2 {
  margin-top: 10px;
}

/* Padding/margin tweaks for the page. */
.uswds-main-content-wrapper {
  margin-top: 1em;
}
.uswds-middle-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Vertical tab help */
.js-form-type-vertical-tabs {
  margin-top: 2em;
}

/* Toolbar tweaks */
.toolbar-menu li {
  margin-bottom: 0;
}

/* Fallback to normal appearance for checkboxes that don't have labels, or have
 * hidden labels. */
input[type=checkbox]:only-child,
label.element-invisible + input[type=checkbox],
label.visually-hidden + input[type=checkbox] {
  position: static;
  opacity: 1;
  appearance: checkbox;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  height: 1.5em;
  width: 1.5em;
  margin: 0;
}

/* Styling for our custom non-collapsible accordions. */
.uswds-uncollapsible-title + .usa-accordion-content {
  position: static;
}
.uswds-uncollapsible-title {
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  margin: 0;
  padding: 1.5rem 5.5rem 1.5rem 3rem;
}

/* The focus outline of the logo images needs some help. */
.usa-footer-logo > a,
.usa-logo .logo-img {
  display: inline-block;
}
.usa-logo .logo-img img {
  vertical-align: top;
}

/* Draggable tables need some help. */
.tabledrag-handle {
  box-sizing: content-box;
}
/* sticky aside nav */
.usa-width-one-fourth.usa-layout-docs-sidenav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
