{#
/**
 * @file
 * USWDS theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header class="{{ header_classes }}" id="header" role="banner">

  {% if page.header_top or government_banner %}
  <section class="usa-banner">

    {{ government_banner }}

    {% if page.header_top %}
    <div class="usa-banner-inner">
      {{ page.header_top }}
    </div>
    {% endif %}

  </section>
  {% endif %}

  {% if header_basic %}
  <div class="usa-nav-container">
  {% endif %}

  <div class="usa-navbar">
    <button class="usa-menu-btn">{{ 'Menu'|t }}</button>
    {{ page.header }}
  </div>

  <div class="usa-nav" role="navigation">
    <div class="usa-nav-inner">
      {% if page.primary_menu %}
      <button class="usa-nav-close">
        <img src="{{ active_theme_path }}/assets/img/close.svg" alt="close" />
      </button>
      {{ page.primary_menu }}
      {% endif %}

      {% if page.secondary_menu %}
      {{ page.secondary_menu }}
      {% endif %}

    </div>
  </div>

  {% if header_basic %}
  </div>
  {% endif %}

</header>
{% if page.highlighted|render|striptags|trim %}
  <section class="usa-section uswds-middle-section">
    <div class="usa-grid">
      <div class="usa-width-full">
  {#       {{ page.breadcrumb }} #}

        {{ page.highlighted }}

        {% if page.help|render|trim %}
        <div class="usa-alert usa-alert-info">
          <div class="usa-alert-body">
            <div class="usa-alert-text">
              {{ page.help }}
            </div>
          </div>
        </div>
        {% endif %}

      </div><!-- ENDS usa-width-full-->
    </div><!-- ENDS usa-grid-->
  </section>
{% endif %}
  {% if node.gettype is not sameas('landing') %}
    {%
      set classes = [
        'usa-grid',
        'usa-section',
        'usa-content',
        'usa-layout-docs',
      ]
    %}
  {% endif %}
  <div class="uswds-main-content-wrapper">
    <div class="usa-overlay"></div>
    <main{{ attributes.addClass(classes).setAttribute('id', 'main-content') }}>
      {#<a id="main-content" tabindex="-1"></a>#}

      {% if page.sidebar_first %}
      <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
        {{ page.sidebar_first }}
      </aside>
      {% endif %}

      <div class="region-content {{ content_class }}">
        {{ page.content }}
      </div>

      {% if page.sidebar_second %}
      <aside class="region-sidebar-second usa-width-one-fourth">
        {{ page.sidebar_second }}
      </aside>
      {% endif %}
    </main>
  </div>


<footer class="{{ footer_classes }}" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>

  {% if display_footer_primary %}
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav {{ footer_menu_width }}">

        {% if page.footer_menu %}
        {{ page.footer_menu }}
        {% endif %}

      </nav>

      {% if footer_slim and (phone or email) %}
      <div class="usa-width-one-third">

        {% if phone %}
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
        </div>
        {% endif %}

        {% if email %}
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p><a href="mailto:{{ email }}">{{ email }}</a></p>
        </div>
        {% endif %}

      </div>
      {% endif %}

      {% if page.footer %}
      <div class="usa-grid">
        {{ page.footer }}
      </div>
      {% endif %}

    </div>
  </div>
  {% endif %}

  {% if display_footer_secondary %}
  <div class="usa-footer-secondary_section">

    {% if display_footer_agency %}
    <div class="usa-grid">
      <div class="usa-footer-logo
        {% if not footer_slim %}usa-width-one-half{% endif %}">

        {% if footer_agency_url %}
        <a href="{{ footer_agency_url }}">
        {% endif %}

        {% if footer_agency_logo %}
        <img class="{{ footer_agency_logo_class }}" src="{{ footer_agency_logo }}" alt="{{ 'Agency logo'|t }}">
        {% endif %}

        {% if footer_agency_name %}
        <h3 class="{{ footer_agency_heading_class }}">{{ footer_agency_name }}</h3>
        {% endif %}

        {% if footer_agency_url %}
        </a>
        {% endif %}

      </div>

      {% if not footer_slim %}
      <div class="usa-footer-contact-links usa-width-one-half">

        {% if facebook %}
        <a class="usa-link-facebook" href="{{ facebook }}">
          <span>Facebook</span>
        </a>
        {% endif %}

        {% if twitter %}
        <a class="usa-link-twitter" href="{{ twitter }}">
          <span>Twitter</span>
        </a>
        {% endif %}

        {% if youtube %}
        <a class="usa-link-youtube" href="{{ youtube }}">
          <span>YouTube</span>
        </a>
        {% endif %}

        {% if rss %}
        <a class="usa-link-rss" href="{{ rss }}">
          <span>RSS</span>
        </a>
        {% endif %}

        <address>

          {% if contact_center %}
          <h3 class="usa-footer-contact-heading">{{ contact_center }}</h3>
          {% endif %}

          {% if phone %}
          <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
          {% endif %}

          {% if email %}
          <a href="mailto:{{ email }}">{{ email }}</a>
          {% endif %}

        </address>
      </div>
      {% endif %}

    </div>
    {% endif %}

    {% if page.footer_secondary %}
    <div class="usa-grid">
      {{ page.footer_secondary }}
    </div>
    {% endif %}

  </div>
  {% endif %}

</footer>
